.fondo {
    height: 100vh;
    background-image: url("../../..//assets/img/fondo_informatica.jpg");
    background-size: cover;
    text-align: center;
}
ion-card {
    --background: linear-gradient(#f1e209ba, rgb(12, 38, 238));
    margin: 0 auto;
    top: 5vh;
    height: 40vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;

    .imagen_login {
        width: 40%;
    }

    ion-card-header {
        ion-card-subtitle {
            font-size: x-large;
            color: black;
        }

        ion-card-title {
            font-size: x-large;
            color: black;
        }
    }

    ion-item {
        --background: none;

        ion-label {
            font-size: large;
            font-weight: bold;
        }
    }
}
ion-toolbar{
    --background: linear-gradient(#f1e209ba, rgb(12, 38, 238));
}