<ion-header>
  <ion-toolbar>
    <ion-button slot="end" routerLink="/login">
      <ion-icon name="log-in-outline"></ion-icon>
      Volver a login
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fondo">
    <ion-card>
      <img src="../../../assets/img/duoclogo.png" alt="" class="imagen_login">
      <ion-card-header>
        <ion-card-subtitle>RECUPERAR CONTRASEÑA</ion-card-subtitle>
        <!-- <ion-card-title>LOGIN PROFESOR</ion-card-title> -->
      </ion-card-header>
      <ion-card-content>
        <ion-item class="correo">
          <ion-label>Correo</ion-label>
          <ion-input type="text" placeholder="Ingrese correo" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Codigo</ion-label>
          <ion-input type="email" placeholder="Ingrese codigo" [(ngModel)]="codigo" ></ion-input>
        </ion-item>
        <ion-button (click)="olvidar()">ENVIAR CORREO</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>